/node_modules
/public/hot
/public/storage
/public/logs
/public/userfile/attachment
/public/userfile/logo_instansi
/public/userfile/photo
/public/userfile/scorm
/public/userfile/badge
/storage/app
/storage/logs
/storage/app/framework/laravel-excel
/vendor
/node_modules
*.zip
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
