body {
    font-family: $font-global;
    color: #000;
    background-color: $bg-color;
    font-size: 14px;
    line-height: 1.7;
}

html, body {
    height: 100%;
    width: 100%;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

::-webkit-selection {
    color: #ffffff;
    background:  #000;
}

::-moz-selection {
    color: #ffffff;
    background:  #000;
}

::selection {
    color: #ffffff;
    background:  #000;
}

article {
	z-index: 1;
	overflow: auto;
	color: #333;
}

p {
    line-height: 1.86;

    a {
        border-bottom: 2px dotted $border-color;
        color: #333;
    }
}


ul, li, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    outline: 0 !important;
    text-decoration: none !important;
    transition: $trs-3;

    &:hover {
        color: $main-color;
    }
}

@media screen and (min-width: $breakpoint-sm) {
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        line-height: 1.5;
    }
}


article ul,
article ol {
    padding: 0 !important;
}

article ul,
article ol {
    margin: 20px 0 20px 20px;
    text-align: left;
}

article ul li,
article ol li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 10px;
}

article ol li {
    padding-left: 35px;
}

article ol {
    counter-reset: li;
}

article ol > li {
    counter-increment: li;
    position: relative;
}

article ol > li:before {
    content: counter(li);
    color: #000;
    display: flex;
    align-items: center;
    left: 0;
    top: 5px;
    position: absolute;
    background-color: transparent;
    text-align: center;
    width: 20px;
    height: 15px;
    font-size: 12px;
    border-right: 2px solid #064ad0;
    font-family: $font-title;
    font-weight: 700;
}

article ul li::before {
    position: absolute;
    display: block;
    content: "";
    width: 9px;
    height: 9px;
    left: 0;
    top: 10px;
    background-color: transparent;
    border: 2px solid $main-color;
    border-radius: 100%;
}

article iframe {
    display: block;
    width: 100%;
    height: 50vmin;
    margin: 0 auto;
    border: 0;
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100% !important;
    margin-bottom: 20px;
    height: auto !important;
}

@media screen and (min-width: 767.98px) {
    article img {
        max-width: 100% !important
    }
}

article img[style="float: left;"] {
    float: left;
    margin-right: 20px;
    max-width: 40% !important;
}

article img[style="float: right;"] {
    float: right;
    margin-left: 20px;
    margin-right: 0;
    max-width: 40% !important;
}

@media screen and (max-width: 767.98px) {
    article img[style="float: right;"],
    article img[style="float: left;"] {
        max-width: 100% !important;
    }
}







.box-wrap {
    position: relative;
    padding: 5em 0 3em;
    background-color: #fff;
    overflow: hidden;

    &.bg-blue {
        background-color: $main-color;
    }

    &.bg-grey {
        background-color: #f0f1f4;
    }

    &.bg-grey-alt {
        background-color: #fefefe;
    }

    &.half-bg-white {
        &:after {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 50%;
            background-color: #fff;
        }
    }

    @media screen and (min-width: $breakpoint-xl) {
        &.single-post {
            .container {
                max-width: 945px !important ;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-lg) {
    .box-wrap {
        padding: 3em 0;
    }
}

.title-heading {
    position: relative;

    h6 {
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: $main-color;
    }

    h3 {
        font-family: $font-title;
        // &:after {
        //     position: relative;
        //     content: '.';
        //     display: inline;
        //     color: $main-color;
        //     margin-left: 3px;
        // }
    }

    h1 {
        margin-bottom: 30px;
        font-weight: 700;
        font-family: $font-title;

        &:after {
            position: relative;
            content: '.';
            display: inline;
            color: $main-color;
            margin-left: 3px;
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        h1 {
            font-size: 2em;
        }
    }


    &.text-white {
        > * {
            color: #fff;
        }
        h1 {
            &:after {
                color: #fff;
            }
        }
    }
}

.thumbnail-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

// .summary-text {
//     margin-left: 12.6667%;
// }

.pagination {
    li {
        margin: 0 5px;

        .page-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            border-radius: 100% !important;
            font-weight: 600;
            border: 2px solid transparent;
            transition: border-color .5s,
                        color .5s;
            &:hover {
                border-color: $border-color;
            }
            &.active {
                border-color: transparent;
                background-color: $palete-main-color;
                color: $main-color;
            }
        }

        &.active {
            .page-link {
                background-color: $main-color !important;
                border-color: $main-color !important;
            }
        }
    }
}



