@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('../fonts/product-sans/fonts.css');

:root {
    
    --f-default: 'Roboto', sans-serif;
    --f-title: "product sans", sans-serif;

    --c-white: #fff;
    --c-grey: #dfdfdf;
    --c-grey_12: #F2F2F2;


    --c-text-primary : #333;
    --c-text-secondary: #777;
    --c-text-third : #999;

    --c-main: #ffb606;
    

    --easing: cubic-bezier(.6,.2,.0,1);
    --box-shadow : 0 10px 35px -10px rgba(72, 70, 88, 0.25);
    --box-shadow_2 : -5px 0 30px rgba(72, 70, 88, 0.2);

    // Brakepoints
    

    
}

@media screen and (max-width: 575.98px) {
    :root {
        --box-shadow : 0 5px 15px rgba(95, 119, 112, 0.1);
        --easing: ease-in-out;

    }
}

$breakpoint-xl: 1199.98px;
$breakpoint-lg: 991.98px;
$breakpoint-md: 767.98px;
$breakpoint-sm: 575.98px;

